*.log
*.pyc
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.pytest_cache/
.ipynb_checkpoints/
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/cache/*.php
/bootstrap/cache/*.tmp
/database/database.sqlite
lstm-api/venv/
lstm-api/.venv/
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
__pycache__/
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

# File development
lstm-api/app(sebelum refactor).py
lstm-api/temp_db_test.py